/*   Author: Richard Myatt
     Date: 20 June 2018

     An exercise in data visualization and a second use of materialize.
*/


@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  background-color: lightgrey;
  height: 100%;
}

.spacer1 {
  height: 20px;
}

/* move the logo away from the left side */
.brand-logo {
  font-family: 'Dancing Script', cursive;
  margin-left: 20px;
}

.list-title {
  margin-top: 20px;
  padding: 16px;
}

.recipe-list {
  background-color: #fff;
  min-height: 100%;
}

.collection-item {
  font-size: 2em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0 20px;
}

.bg {
  background-image: url('https://thecornishfishmonger.co.uk/media/wysiwyg/recipe-category-images/easter-recipes.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#default-view {
  width: 400px;
  margin: 50px auto;
  padding: 16px;
  border-radius: 8px;
  background-color: #999;
}
