<!-- Author: Richard Myatt
     Date: 30 May 2018

     An exercise in data visualization and a first use of materialize.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="css/recipe_box.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipe Box</title>
</head>
<body>

  <div id="app">
    <!-- give our app a nice header -->
    <logo></logo>

    <!-- provide a spacer between the header and the leader board -->
    <div class="spacer1"></div>

    <router-view :db="db"></router-view>

    <!--<recipe-list :db="db"
            ></recipe-list>-->

    <!--<pre>
      {{ $data }}
    </pre>-->

  </div><!-- Vue.js app -->


  <!-- provide a spacer at the base of the page -->
  <div class="spacer2"></div>


  <!--                  TEMPLATES                   -->

  <!-- Title bar shown on every page -->
  <template id="logo">
    <nav>
      <div class="nav-wrapper blue darken-3">
        <router-link class="brand-logo yellow-text lighten-4" to="/">Recipe Box</router-link>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li>
          <router-link to="/editor/new">New</router-link>
        </li>
        <li>
          <router-link to="">About</router-link>
        </li>
      </ul>
      </div>
    </nav>
  </template>

  <!-- Recipe list shown on home page -->
  <template id="list">
    <div class="row">
      <div class="col l6 offset-l3 recipe-list z-depth-2">

        <div class="list-title center yellow lighten-4 z-depth-2">
          <h3>Recipes</h3>
        </div>
        <!-- LINK COLLECTION -->
        <div class="card-content collection z-depth-2">
          <!--<a href="#" class="collection-item"
          v-for="item in db">{{ item.title }}</a>-->
          <!--<router-link v-for="item in db"
                       :to="'/recipe/' + item.id"
                        >{{ item.title }}</router-link>-->
          <router-link class="collection-item blue-text"
                       v-for="(item, index) in db"
                       :to="'/recipe/' + index"
                        >{{ item.title }}</router-link>
        </div>

      </div>
    </div>
  </template>

  <!-- Individual recipe template with dynamic route /recipe/:id -->
  <template id="recipe">
    <div class="row">
      <div class="col l6 offset-l3 recipe-list z-depth-2 list">

        <div class="list-title center yellow lighten-4 z-depth-2">
          <h2>{{ db[$route.params.id].title }}</h2>
        </div>

        <h5>Serves {{ db[$route.params.id].serves}}</h5>

        <div class="divider"></div>
        <div class="section">
          <h3>Ingredients</h3>
          <div class="flow-text"><pre>{{ db[$route.params.id].ingredients }}</pre></div>
        </div>

        <div class="divider"></div>
        <div class="section">
          <h3>Method</h3>
          <div class="flow-text"><pre>{{ db[$route.params.id].method }}</pre></div>
        </div>

      </div>
    </div>
  </template>

  <!-- new recipe form -->
  <template id="editor">
    <div class="row">

      <div class="col l6 offset-l3 recipe-list z-depth-2 list">

        <div class="list-title card center yellow lighten-4 z-depth-2">
          <h2>Add a New Recipe</h2>
        </div>



        <a class="waves-effect waves-light btn right">Save</a>


        <div class="divider"></div>
          <div class="section">
            <div class="input-field col l12">
              <input placeholder="Title" id="recipe-title" type="text" class="validate">
              <label for="recipe-title">Recipe Title</label>
          </div>
        </div>

        <div class="divider"></div>
        <div class="section">
          <div class="input-field col l3">
            <input placeholder="No" id="serves" type="number" class="validate">
            <label for="serves">Serves</label>
          </div>
        </div>


        <div class="divider"></div>
        <div class="section">
          <div class="row">
             <form class="col s12">
               <div class="row">
                 <div class="input-field col l12">
                   <textarea id="ingredients" class="materialize-textarea"></textarea>
                   <label for="ingredients">Ingredients</label>
                 </div>
               </div>
             </form>
           </div>
        </div>

        <div class="divider"></div>
        <div class="section">
          <div class="row">
             <form class="col s12">
               <div class="row">
                 <div class="input-field col l12">
                   <textarea id="method" class="materialize-textarea"></textarea>
                   <label for="method">Method</label>
                 </div>
               </div>
             </form>
           </div>
        </div>


      </div>




    </div>
  </template>

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
  <script src="js/recipe.js"></script>
  <script src="js/recipe_box.js"></script>

</body>
</html>
